<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css"/>
    <!--<link rel="stylesheet" href="/assets/styles/jQuery-Plugin-For-Tabbed-Image-Slider-Navigation-Ottoman-Slider/css/memoslider.css"/>-->

    <meta charset="UTF-8">
    <title>Sports Champions Home Page</title>
</head>
<body>
<h1>Sports Champions</h1>
<div class="banner-wrapper" id="ottomanslider">
    <div class="main-image"></div>
    <div class="thumbs">
        <div class="thumb t2" data-bg="/assets/images/mlblogo.png" data-id="2">
            <a class="button" href="#">Major League Baseball</a>
        </div>
        <div class="thumb t3" data-bg="/assets/images/nhllogo.png" data-id="3">
            <a class="button" href="#">National Hockey League</a>
        </div>
        <div class="thumb t4" data-bg="/assets/images/nfllogo.png" data-id="4">
            <a class="button" href="#">National Football League</a>
        </div>
        <div class="thumb t5" data-bg="/assets/images/nbalogo.png" data-id="5">
            <a class="button" href="#">National Basketball Association</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendors/jQuery-Plugin-For-Tabbed-Image-Slider-Navigation-Ottoman-Slider/js/jquery.ottomanslider.js"></script>
<script type="text/javascript" src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/scripts/app.min.js" type="text/javascript"></script>

</body>
</html>