<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css"/>
    <meta charset="UTF-8">
    <title>MLB Search Page</title>
</head>
<body>
<div id="container">
    <input id="searchBaseball" type="text" placeholder="Search">
    <button class="submitButton" type="submit">Submit</button>
</div>

<a href="index.html">Return Home!</a>

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendors/jQuery-Plugin-For-Tabbed-Image-Slider-Navigation-Ottoman-Slider/js/jquery.ottomanslider.js"></script>
<script type="text/javascript" src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/scripts/app.min.js" type="text/javascript"></script>
</body>
</html>